{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content:"width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-10-year-range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-10-year-range.js"></script>
    {% block css_files %}{%endblock%}

  </head>
  <body>
      <header id="main-navigation">
         <h1><a href="{% url "starting-page" %}">Aurélien's Blog</a></h1>
         <nav>
          <a href="https://abeveraggi.pythonanywhere.com/contact.html">Contact me (first Flask website)</a>
       </nav>
         <!--we use the name of the url that we added in url.py-->
         <nav>
           <a href="{% url "posts-page" %}">All posts</a>
          <!--we use the name of the url that we added in url.py-->
         </nav>

      </header>

   {% block content %}
   {% endblock %}
</body>
</html>
